// app/globals.scss
$basePaddingY: 30px;
$basePaddingX: 20px;
$basePadding: $basePaddingY $basePaddingX;

:root {
  --font-primary: system-ui, sans-serif;
}

$primary-color: #010101;
$background-color: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  background-color: $background-color;
  color: $primary-color;
  letter-spacing: -0.02em;
  font-style: normal;
  font-weight: 400;
  font-size: 22.1379px;
  line-height: 90%;
  padding: $basePadding;
  min-height: 100vh;
  display: flex;
}

main {
  position: relative;
  flex: 1;

}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding-block: 0;
  padding-inline: 0;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

h1,
h2,
h3 {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
}

.box {
  position: fixed;
  left: $basePaddingX;
  display: flex;
  flex-direction: column;
  z-index: 10;
  
  &--buttons {
    top: $basePaddingY;
    gap: 8px;
    max-width: 46px;
  }
  
  &--logo {
    bottom: $basePaddingY;
    flex-wrap: wrap;
    
  }

  &__logo-wrapper {
    gap: 5px;
    margin-left: 5px;
    display: flex;
    flex-wrap: nowrap;

   > span {
    width: 100%;
   }
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
  align-items: end;
  justify-items: center;
}

.image-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.image-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.15s ease-out;
}

.gallery {
  display: flex;
  flex-direction: column;

}

.gallery-row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 12px;
}

.gallery-row img {
  display: block;
  object-fit: contain;
}

.jc-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 12px;
  transition: gap 0.25s ease;
}

.jc-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end; // bottom align visuals
  justify-content: flex-start;
  margin-bottom: 10px;
  
  gap: 14px;
  
  @media (max-width: 600px) {
    gap: 10px;
  }
}

.jc-item {
  display: block;
  overflow: hidden;
  line-height: 0;
}

/* reset default img spacing */
.jc-item img {
  display: block;
  /* no transitions as requested */
}